@import "mr-globals/typography";

article h1 {
  margin-bottom: 0.25em;
}

article h2 {
  font-size: $text-medium;
  font-weight: $text-semibold;
  margin: 0;
}

article p {
  color: $pure-white;
  font-family: $courier
}

article a {
  color: $highlight;
  transition: color 100ms ease-in-out;
}

article h1,
article h2,
article a:hover {
  color: $primary-light;
}


article hr {
  width: 100%;
  border: solid 2px $highlight;
  max-width: 100px;
}
