@import "mr-globals/typography";

/* article styles */

article a,
section a {
  color: $mr-primary;
  transition: color 100ms ease-in-out;
}

article h1 {
  line-height: normal;
}

article h2 {
  font-family: $inconsolata;
}
