@import "mr-globals/typography";

/* article styles */

article a,
section a {
  color: $grandis;
  font-weight: $fw-black;
  transition: color 100ms ease-in-out;
}

article h1 {
  font-family: $merriweather;
  font-size: $fs-default;
  font-weight: $fw-black;
  line-height: normal;
  margin: 0 0 0.25em 0;
}

article h2 {
  font-family: $inconsolata;
  font-size: $fs-small;
  font-weight: $fw-light;
  margin: 0;
}
