<section class="project-intro">
  <div class="container clearfix p3">
    <div class="sm-col sm-col-12 md-col-9 pr2">
      <article class="white fs-medium courier">
        {{ content }}
      </article>
    </div>
    <div class="sm-col sm-col-12 md-col-3 bg-grandis rounded">
      <small class="fw-black text-uppercase">Role</small>
      <h3 class="m0 courier fw-light">{{ page.role }}</h3>

      <small class="fw-black text-uppercase">Skills</small>
      {% for project-skill in page.project-skills %}
      <h3 class="m0 courier fw-light">{{ project-skill }}</h3>
      {% endfor %}

        {{ page.project-types.type }}

    </div>
  </div>
</section>

<section class="white fs-default courier">
  <p>
    During my time at TrackMaven, I had the unique opportunity to not only design branded materials as a member of the design team, but to also contribute code and assist in developing the marketing site.
  </p>
  <p>
    Under the guidance and direction of Wade Hammes, one of TrackMavens' Front-End Developers; I was able to gain hands-on experience working with HTML5, CSS3, jQuery, PHP as well as Wordpress. In addition to gaining experience in the skills listed above, I was introduced to Gulp, a build tool that helps accelerate and automate the development process.
  </p>
  <p>
    Below are a few examples that allowed me to put all of this new found knowledge to the test:
  </p>

  <p>

  </p>
</section>

<section class="">
</section>

<section class="">
</section>

Over the course of the last 11 months, I was fortunate enough to have the opportunity to design and develop for the [TrackMaven](http://trackmaven.com/) marketing site.

Under the guidance of [Wade Hammes](https://twitter.com/whammes), a Front-End Developer Maven at TrackMaven I was able to build up my front-end skills in the following areas: HTML, CSS3, JS, jQuery, PHP, and Wordpress. I was also introduced to using build tools to automate the development process, primarily through the use of Gulp.

---

## ROI of TrackMaven

In the Summer of 2015, the ROI of TrackMaven [page](http://trackmaven.com/roi-of-trackmaven/) was added to the marketing site. Working alongside the marketing department, the goal of this page was to show the ROI and benefits of using TrackMaven in a clear, concise landing page.

The page was built using HTML and CSS.

![TrackMaven ROI - 1](/assets/TrackMaven ROI - 1.jpg)

![TrackMaven ROI - 2](/assets/TrackMaven ROI - 2.jpg)

---

## Homepage Development

In December 2015, I was tasked with building TrackMaven's newly redesigned [homepage](http://trackmaven.com/). The redesign was led by [Laura McGuigan](https://twitter.com/grafxnerd) and the goal of the redesign was to better land potential customers using updated copy across the page that better explained how TrackMaven could be beneficial for their companies.

The page was built inside Wordpress, making use of Advanced Custom Fields as well as PHP, CSS, JS, jQuery.

![TrackMaven Homepage - 1](/assets/TrackMaven Homepage - 1.jpg)

![TrackMaven Homepage - 2](/assets/TrackMaven Homepage - 2.jpg)
