<section class="project-intro">
  <div class="container clearfix p3">
    <div class="sm-col sm-col-12 md-col-10 lg-col-8">
      <!-- project title, introduction -->
      <article class="white fs-medium courier">
        {{ content }}
      </article>
      <!-- project title, introduction -->
    </div>
  </div>
</section>

<section class="white fs-default courier">
  <p>
    During my time at TrackMaven, I had the unique opportunity to not only design branded materials as a member of the design team, but to also contribute code and assist in developing the marketing site.
  </p>
  <p>
    Under the guidance and direction of Wade Hammes, one of TrackMavens' Front-End Developers; I was able to gain hands-on experience working with HTML5, CSS3, jQuery, PHP as well as Wordpress. In addition to gaining experience in the skills listed above, I was introduced to Gulp, a build tool that helps accelerate and automate the development process.
  </p>
  <p>
    Below are a few examples that allowed me to put all of this new found knowledge to the test:
  </p>

  <p>

  </p>
</section>

<section class="">
</section>

<section class="">
</section>
