$primary: #4B3E74;
$primary-light: #EBE5FF;
$highlight: #FFE099;
$gray: #555555;

$pure-white: rgba(255,255,255,1);
$pure-black: rgba(0,0,0,1);

$white: rgba(255,255,255,1);
$lighten-1: rgba(255,255,255,.80);
$lighten-2: rgba(255,255,255,.60);
$lighten-3: rgba(255,255,255,.40);
$lighten-4: rgba(255,255,255,.20);
$lighten-5: rgba(255,255,255,.10);

$black: rgba(0,0,0,1);
$darken-1: rgba(0,0,0,.80);
$darken-2: rgba(0,0,0,.60);
$darken-3: rgba(0,0,0,.40);
$darken-4: rgba(0,0,0,.20);
$darken-5: rgba(0,0,0,.10);

$grandis: rgba(166,175,245,1.00);
$grandis-1: rgba(255,217,128,.80);
$grandis-2: rgba(255,217,128,.60);
$grandis-3: rgba(255,217,128,.40);
$grandis-4: rgba(255,217,128,.20);
$grandis-5: rgba(255,217,128,.10);

/* colors */
.grandis { color: $grandis; }
.bg-grandis { background-color: $grandis; }

.white { color: $white; }

.darken-1 { color: $darken-1; }
.darken-2 { color: $darken-2; }
.darken-3 { color: $darken-3; }
.darken-4 { color: $darken-4; }
.darken-5 { color: $darken-5; }

.lighten-1 { color: $lighten-1; }
.lighten-2 { color: $lighten-2; }
.lighten-3 { color: $lighten-3; }
.lighten-4 { color: $lighten-4; }
.lighten-5 { color: $lighten-5; }

.primary { color: $primary; }
.primary-light { color: $primary-light; }
.highlight { color: $highlight; }
.gray { color: $gray; }

/* BG Colors */
.bg-primary { background-color: $primary; }
.bg-primary-light { background-color: $primary-light; }
.bg-highlight { background-color: $highlight; }
.bg-gray { background-color: $gray; }

.bg-white { background-color: $white; }
.bg-black { background-color: $black; }
