$primary: #4B3E74;
$primary-light: #EBE5FF;
$secondary: #FFE099;
$gray: #46455D;

$pure-white: rgba(255,255,255,1);
$pure-black: rgba(0,0,0,1);

/* Colors */
.primary { color: $primary; }
.primary-light { color: $primary-light; }
.secondary { color: $secondary; }
.gray { color: $gray; }

.pure-white { color: $pure-white; }
.pure-black { color: $pure-black; }

/* BG Colors */
.bg-primary { background-color: $primary; }
.bg-primary-light { background-color: $primary-light; }
.bg-secondary { background-color: $secondary; }
.bg-gray { background-color: $gray; }

.bg-pure-white { background-color: $pure-white; }
.bg-pure-black { background-color: $pure-black; }
