@import "mr-globals/typography";

body {
  font-size: 100%;
}

/* styles for maintenance bar */
.maintenance a {
  color: $lighten-2;
  display: inline-block;
}

/* styles for page introduction */
.introduction h1 {
  font-family: $noto-serif;
  font-size: 2.8rem;
  font-weight: 700;
}

.introduction h2 {
  font-weight: 400;
  font-size: 1.2rem;
}

.introduction h1,
.introduction h2 {
  margin: 0;
}

.border-mr-primary {
  border: solid 2px $mr-primary;
}

/* sets the max width for the container of the site */
.container,
.content-container {
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 832px;
}

.content-container {
  max-width: 1024px;
}

/* styling for broken images */
img {
  font-family: $inconsolata;
  font-weight: 400;
  border-radius: 2px;
  text-align: center;
  font-size: $fs-small;
  width: 100%;
  max-width: 100%;
  display: block;
  position: relative;
  vertical-align: middle;
}

img:before {
  content: "Looks like this image is missing :( Shoot me an email at hello@marcusrelacion.com and I'll get this fixed as soon as possible.";
  display: block;
}

img:after {
  content: "(url: " attr(src) ")";
  display: block;
  margin-top: 1em;
}

.bg-no-repeat { background-repeat: no-repeat; }

.rounded { border-radius: 2px; }
.rounded-top-left { border-radius: 2px 0 0 0; }
.rounded-top-right { border-radius: 0 2px 0 0; }
.rounded-top { border-radius: 2px 2px 0 0; }
.rounded-bottom { border-radius: 0 0 2px 2px; }

/* removes the underlink from header/main nav links */
a.nav-link,
a.logotype  {
  text-decoration: none;
}


.border-mr-primary {

}

.link,
.archive-link {
  color: $white;
  background-color: none;
  transition: color 100ms ease-in-out;
}

.link:hover,
.archive-link:hover {
  color: $mr-primary;
}

.project-link {
  transition: all 100ms ease-in-out;
}

.project-link:hover {
  background-color: $mr-primary;
}

@media screen and (min-width: 1280px) {
 .left-pane {
   z-index: 9999;
   min-height: 100vh;
   width: 30%;
   position: fixed;
   float: left;
 }

 .right-pane {
   min-height: 100vh;
   width: 70%;
   float: right;
 }

 .update-bar {
   position: absolute;
   bottom: 0;
   right: 0;
   left: 0;
 }
}

.archives {
  transition: background-color 100ms ease-in-out;
}

.archives:hover {
  background-color: $darken-4;
}

.border-mr-primary {
  border: solid 2px $mr-primary;
}
