@import "mr-globals/typography";

/* sets the max width for the container of the site */
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/* sets the max width of the logo */
.logo-wrapper {
  max-width: 50px;
  width: 100%;
}

/*
img  {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-radius: 4px;
}
*/

/* styling for broken images */
img {
  font-family: $system;
  font-weight: 400;
  background: #f1f1f1;
  border-radius: 4px;
  color: $gray;
  text-align: center;
  font-size: $text-x-small;
  width: 100%;
  max-width: 100%;
  display: block;
  position: relative;
  vertical-align: middle;
}

img:before {
  content: "I apologize, but this image appears to be broken. Shoot me an email at hello@marcusrelacion.com and I'll get this fixed as soon as possible.";
  display: block;
  margin-bottom: 1em;
}

img:after {
  content: "(url: " attr(src) ")";
  display: block;
  margin-top: 1em;
}


.bg-no-repeat { background-repeat: no-repeat; }

.rounded { border-radius: 4px; }
.rounded-top-left { border-radius: 4px 0 0 0; }
.rounded-top-right { border-radius: 0 4px 0 0; }
.rounded-top { border-radius: 4px 4px 0 0; }
.rounded-bottom { border-radius: 0 0 4px 4px; }

.project-detail-block {
  min-height: 200px;
}

a.white-button,
button.white-button {
  padding: 1em 2em;
  border-radius: 2.5px;
  background: $primary-light;
  transition: all 100ms ease-in-out;
  color: $primary;
  text-decoration: none;
  border: none !important;
  cursor: pointer;
}

a.white-button:hover,
button.white-button:hover {
  background: $highlight;
}

a.white-button:focus,
button.white-button:focus {
  outline: $primary !important;
}

a.secondary-button,
button.secondary-button {
  padding: 1em 2em;
  border-radius: 2.5px;
  border: solid 3.5px $highlight;
  transition: all 100ms ease-in-out;
  color: $pure-white;
  text-decoration: none;
  cursor: pointer;
  background: none;
}

a.secondary-button:hover,
button.secondary-button:hover {
  color: $primary;
  background: $highlight;
}

a.secondary-button:focus,
button.secondary-button:focus {
  outline: $primary !important;
}

/* link styling for tags */
ul.tags {
  -webkit-padding-start: 0 !important;
}

.border-highlight { border: solid 5px $highlight; }
