@import "mr-globals/typography";

/* ============= */

body { font-size: 100%; }

/* styles for maintenance bar */
.maintenance a {
  color: $darken-2;
  display: inline-block;
}

/* styles for page introductions */
.introduction h1 {
  font-family: $noto-serif;
  font-weight: 900;
  margin-bottom: 0.25em;
}

.introduction p {
  margin-bottom: 0.75em;
}

/* styling for content card */
.content-card {
  transition: color 150ms ease-in;
}
.content-card:hover {
  color: $darken-2;
}

/* styling for borders */
.border-mr-primary {
  border: solid 2px $mr-primary;
  transition: background-color 150ms ease-in;
}

.border-mr-primary:hover { background-color: $mr-primary; }

/* styling for background images */
.bg-no-repeat { background-repeat: no-repeat; }

/* styling for rounded corners */
.rounded { border-radius: 2px; }
.rounded-top-left { border-radius: 2px 0 0 0; }
.rounded-top-right { border-radius: 0 2px 0 0; }
.rounded-top { border-radius: 2px 2px 0 0; }
.rounded-bottom { border-radius: 0 0 2px 2px; }

/* styling for anchors */
a {
  color: $mr-primary;
  transition: color 150ms ease-in;
}

a:hover { color: $white; }

/* styling for broken images */
img {
  font-family: $inconsolata;
  font-weight: 400;
  border-radius: 2px;
  text-align: center;
  width: 100%;
  max-width: 100%;
  display: block;
  position: relative;
  vertical-align: middle;
  background-color: $lighten-5;
}

img:before {
  content: "Looks like this image is missing :( Shoot me an email at hello@marcusrelacion.com and I'll get this fixed as soon as possible.";
  display: block;
}

img:after {
  content: "(url: " attr(src) ")";
  display: block;
  margin-top: 1em;
}
