// font families
$inconsolata: 'Inconsolata', monospace;
$noto-serif: 'Noto Serif', serif;

// font sizes
$fs-small: 0.75em;
$fs-default: 1em;
$fs-medium: 1.5em;
$fs-large: 2em;
$fs-headline: 2.25em;

.inconsolata { font-family: $inconsolata; }
.noto-serif { font-family: $noto-serif; }

.fs-small { font-size: $fs-small; }
.fs-default { font-size: $fs-default; }
.fs-medium { font-size: $fs-medium; }
.fs-large { font-size: $fs-large; }
.fs-headline { font-size: $fs-headline; }

//.fw-100 { font-weight: 100; }
//.fw-200 { font-weight: 200; }
//.fw-300 { font-weight: 300; }
.fw-400 { font-weight: 400; }
//.fw-500 { font-weight: 500; }
//.fw-600 { font-weight: 600; }
.fw-700 { font-weight: 700; }
//.fw-800 { font-weight: 800; }
//.fw-900 { font-weight: 900; }

.tt-upper { text-transform: uppercase; }
.tt-lower { text-transform: lowercase; }

.ta-center { text-align: center; }
.ta-left { text-align: left; }
.ta-right { text-align: right; }
.ta-justify { text-align: justify; }

.td-none { text-decoration: none; }
.td-underline { text-decoration: underline; }
