
// font families
$system: caption, '-apple-system', 'avenir next', avenir, roboto, noto, 'helvetica neue', helvetica, ubuntu, 'franklin gothic medium', 'century gothic', sans-serif;

$courier: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;

// font sizes
$fs-small: 0.75em;
$fs-default: 1em;
$fs-medium: 1.5em;
$fs-large: 2em;
$fs-headline: 2.25em;

// font weights
$fw-light: 300; // body copy
$fw-semibold: 600; // sub-headers
$fw-black: 900; // headers

.system { font-family: $system; }
.courier { font-family: $courier; }

.fs-small { font-size: $fs-small; }
.fs-default { font-size: $fs-default; }
.fs-medium { font-size: $fs-medium; }
.fs-large { font-size: $fs-large; }
.fs-headline { font-size: $fs-headline; }

.fw-light { font-weight: $fw-light; }
.fw-semibold { font-weight: $fw-semibold; }
.fw-black { font-weight: $fw-black; }

.text-uppercase { text-transform: uppercase; }
.text-lowercase { text-transform: lowercase; }

.ta-center {
  text-align: center;
}

.ta-left {
  text-align: left;
}

.ta-right {
  text-align: right;
}

.ta-justify {
  text-align: justify;
}
