/*=============================================>>>>>
= Type Variables =
===============================================>>>>>*/

// font families
$system: caption, '-apple-system', 'avenir next', avenir, roboto, noto, 'helvetica neue', helvetica, ubuntu, 'franklin gothic medium', 'century gothic', sans-serif;

// font sizes
$text-x-small: 0.75em;
$text-small: 1em;
$text-default: 1.4em;
$text-medium: 1.6em;
$text-x-medium: 2em;
$text-large: 2.4em;
$text-x-large: 2.8em;

// font weights
$text-light: 300; // body copy
$text-semibold: 600; // sub-headers
$text-black: 900; // headers

/*= End of Type Variables =*/
/*=============================================<<<<<*/

/*=============================================>>>>>
= Type Styles =
===============================================>>>>>*/
.system { font-family: $system; }

.text-x-small { font-size: $text-x-small; }
.text-small { font-size: $text-small; }
.text-default { font-size: $text-default; }
.text-medium { font-size: $text-medium; }
.text-x-medium { font-size: $text-x-medium; }
.text-large { font-size: $text-large; }
.text-x-large { font-size: $text-x-large; }

.text-light { font-weight: $text-light; }
.text-semibold { font-weight: $text-semibold; }
.text-black { font-weight: $text-black; }

.text-uppercase { text-transform: uppercase; }
.text-lowercase { text-transform: lowercase; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: $text-black;
}

h1 {
  font-size: $text-x-large;
  font-weight: $text-black;
}

h2 {
  font-size: $text-large;
}

h3 {
  font-size: $text-x-medium;
  text-transform: uppercase;
}

small {
  font-size: $text-x-small;
}

p {
  font-size: $text-default;
  font-weight: $text-light;
}

article a,
a {
  text-decoration: none;
  font-weight: $text-semibold;
  cursor: pointer;
  transition: color 150ms ease-in-out;
  text-decoration: underline;
  color: $primary-light;
}

article a:hover,
a:hover {
  color: $highlight;
}

article a:focus,
a:focus {
  outline: $primary auto 10px !important;
}

/* removes the underlink from header/main nav links */
a.nav-link {
  text-decoration: none;
  padding: 0.75em 1em;
  border-radius: 2px;
  transition: background 100ms ease-in-out;
}

a.nav-link:hover {
  color: $primary;
  background: $highlight;
}

a.logotype {
  text-decoration: none;
}

/*
article a:visited,
a:visited {
  outline: $highlight;
}
*/

blockquote p {
  font-size: $text-x-medium !important;
  font-style: normal;
  margin: 1.5em 0;
}

/*= End of Type Styles =*/
/*=============================================<<<<<*/
