{% include global/body-open.html %}

<main class="">

  {% include header.html %}

    <section>
      <div class="container clearfix p3">
        <div class="sm-col sm-col-12">
          <article class="pure-white">
            {{ page.content | markdownify }}
          </article>
        </div>
      </div>
    </section>

    <section class="projects">
      <div class="container clearfix p3">
        <div class="sm-col sm-col-12 md-col-4">
          <div class="sub-title-block">
            <h4 class="m0 serif text-black primary text-default">
              {{ page.recent-projects }}
            </h4>
          </div>
        </div>
      </div>

      <div class="container clearfix p3">
        <div class="sm-col sm-col-12 md-col-6 px1">
          <div class="project-image-block bg-cover bg-center rounded" style="min-height: 100px; background-image: url('http://placekitten.com/200/300');"></div>
          <div class="project-detail-block p1">
            <span class="sans text-xx-small primary">
              2016
            </span>
            <h4 class="m0 mb3 serif text-black text-large pure-white">
              TrackMaven Marketing Website
            </h4>
            <p class="m0 mb3 sans text-light text-x-small pure-white">
              Project Description
            </p>
          </div>
        </div>
        <div class="sm-col sm-col-12 md-col-6 px1">
          <div class="project-image-block bg-cover bg-center rounded" style="min-height: 100px; background-image: url('http://placekitten.com/200/300');"></div>
          <div class="project-detail-block p1">
            <span class="sans text-xx-small primary">
              2016
            </span>
            <h4 class="m0 mb3 serif text-black text-large pure-white">
              TrackMaven Illustrations
            </h4>
            <p class="m0 mb3 sans text-light text-x-small pure-white">
              Project Description
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="projects">
      <div class="container clearfix p3">
        <div class="sm-col sm-col-12 md-col-6 px1">
          <div class="sub-title-block">
            <h4 class="m0 mb3 serif text-black primary text-default">
              {{ page.latest-photoset }}
            </h4>
          </div>
          <div class="project-image-block bg-cover bg-center rounded" style="min-height: 100px; background-image: url('http://placekitten.com/200/300');"></div>
          <div class="project-detail-block p1">
            <span class="sans text-xx-small primary">
              2016
            </span>
            <h4 class="m0 mb3 serif text-black text-large pure-white">
              Big K.R.I.T
            </h4>
            <p class="m0 mb3 sans text-light text-x-small pure-white">
              Project Description
            </p>
          </div>
        </div>
        <div class="sm-col sm-col-12 md-col-6 px1">
          <div class="sub-title-block">
            <h4 class="m0 mb3 serif text-black primary text-default">
              {{ page.latest-journal }}
            </h4>
          </div>
          <div class="project-image-block bg-cover bg-center rounded" style="min-height: 100px; background-image: url('http://placekitten.com/200/300');"></div>
          <div class="project-detail-block p1">
            <span class="sans text-xx-small primary">
              2015
            </span>
            <h4 class="m0 mb3 serif text-black text-large pure-white">
              1 Month as a TrackMaven Intern
            </h4>
            <p class="m0 mb3 sans text-light text-x-small pure-white">
              Project Description
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="experience">
      <div class="container clearfix p3 bg">
        <div class="sm-col sm-col-12">
          <div class="sub-title-block">
            <h4 class="m0 mb3 serif text-black primary text-default">
              About:
            </h4>
            <p class="m0 serif text-light text-x-small gray">
              {{ page.about-text | markdownify }}
            </p>
          </div>
        </div>
      </div>

      <div class="container clearfix p3 bg">
        <div class="sm-col sm-col-12 bg-secondary p3 rounded">
          <div class="sub-title-block">
            <h4 class="m0 serif text-black secondary-light text-x-small">
              Currently:
            </h4>
          </div>

          {% for posts in site.jobs limit:1 %}
            <!-- Event Link to Single Page -->
              {% if posts.is-current == true %}
              <div class="py3">
                <span class="sans text-xx-small secondary-dark">
                  May '16 - Present
                </span>
                <h4 class="m0 serif text-black text-x-large pure-white">
                  Clarabridge
                </h4>
                <p class="m0 serif text-light text-x-small gray">
                  Junior UI Designer
                </p>
              </div>
              {% endif %}
          {% endfor %}

          <div class="sub-title-block">
            <h4 class="m0 serif text-black secondary-light text-x-small">
              Previously:
            </h4>
          </div>

          <div class="py3" style="opacity: 0.5;">
            <span class="sans text-xx-small secondary-dark">
              Jan '15 - Apr '16
            </span>
            <h4 class="m0 serif text-black text-x-medium pure-white">
              TrackMaven
            </h4>
            <p class="m0 mb3 serif text-light text-x-small gray">
              Junior Design Maven
            </p>

            <span class="sans text-xx-small secondary-dark">
              Sep '12 - Jan '15
            </span>
            <h4 class="m0 serif text-black text-x-medium pure-white">
              Center for Art Design and Visual Culture
            </h4>
            <p class="m0 mb3 serif text-light text-x-small gray">
              Junior Exhibition Designer
            </p>

            <span class="sans text-xx-small secondary-dark">
              Summer '13
            </span>
            <h4 class="m0 serif text-black text-x-medium pure-white">
              Smithsonian National Air &amp; Space Museum
            </h4>
            <p class="m0 serif text-light text-x-small gray">
              Junior Design Maven
            </p>
          </div>

          <div class="sub-title-block">
            <h4 class="m0 serif text-black secondary-light text-x-small">
              For More Information:
            </h4>
          </div>

        </div>
      </div>
    </section>

  {% include footer.html %}

</main>

{% include global/body-closed.html %}
