{% include global/body-open.html %}
  <header class=" mb3">
    {% include header.html %}
  </header>
    <section class="introduction  py4">
      <!-- Contains the structure of the project cards. -->
      {% include partials/introduction.html %}
    </section>

    <section class="projects ">
      <!-- Contains the structure of the project cards. -->
      {% include partials/home-projects.html %}
    </section>

    <section class="photoset p1">
      <!-- Contains the structure of the featured photoset -->
      {% include partials/home-photoset.html %}
    </section>

    <section class="cta ">
      <!-- Contains the structure of the project cards. -->
      {% include partials/contact-cta.html %}
    </section>
  <footer class="">
    {% include footer.html %}
  </footer>
{% include global/body-closed.html %}
