<section class="">
  <div class="container clearfix px3 py4 bg-cover bg-center rounded" style="background-image: url('/uploads/contact-me.jpg');">
    <div class="sm-col sm-col-12 md-col-6">
      <div class="sub-title-block">
        <h2 class="m0 mb1 text-medium pure-white relative">
          Interested in working together?
        </h2>
        <p class="m0 mb4 text-small pure-white">
          Feel free to contact me by email or through twitter.
        </p>
        <a class="photoset-button m0 text-x-small pure-white inline-block">
          Email
        </a>
        <a class="photoset-button m0 text-x-small pure-white inline-block">
          Tweet
        </a>
      </div>
    </div>
    <div class="sm-col sm-col-12 md-col-6">

    </div>
  </div>
</section>
