<footer>
  <section class="bg-cover bg-center" style="background-image: url('/uploads/contact-me.jpg');">
    <div class="container clearfix px3 py4">
      <div class="sm-col sm-col-12">
        <div class="sub-title-block">
          <h2 class="m0 mb1 text-small text-uppercase pure-white relative">
            <svg id="i-msg" class="absolute white" style="top: 2px; left: -50px;" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
              <path d="M2 4 L30 4 30 22 16 22 8 29 8 22 2 22 Z" />
            </svg>
            Interested in working together?
          </h2>
          <p class="m0 mb4 text-small pure-white">
            Feel free to contact me by email or through twitter.
          </p>
          <a class="photoset-button m0 mr1 text-x-small pure-white inline-block">
            Email
          </a>
          <a class="photoset-button m0 text-x-small pure-white inline-block">
            Tweet
          </a>
        </div>
      </div>
    </div>
    <div class="container clearfix px3 py4">
      <div class="sm-col sm-col-12 md-col-6">
        <small class="m0 text-small gray">
          &copy; 2016 Marcus Relacion
        </small>
      </div>
      <div class="sm-col sm-col-12 md-col-6">
        <small class="m0 text-small gray">
          Dribbble | Instagram | Twitter | Github | LinkedIn
        </small>
      </div>
    </div>
  </section>
</footer>
