<footer class="bg-cover bg-center" style="background-image: url('/uploads/contact-me.jpg');">
  <div class="container clearfix px3 py4">
    <!-- Contains the structure of the project cards. -->
    {% include partials/contact-cta.html %}

    <div class="sm-col sm-col-12 md-col-6 p1">
      <small class="m0 text-x-small pure-white">
        &copy; 2016 Marcus Relacion
      </small>
    </div>
    <div class="sm-col sm-col-12 md-col-6 p1">
      <small class="m0 text-x-small pure-white">
        Dribbble | Instagram | Twitter | Github | LinkedIn
      </small>
    </div>
  </div>
</footer>
