<header class="container clearfix p3">
  <div class="sm-col sm-col-4 mr2">
    <a class="logotype text-center primary" href="/home">
      <h2 class="m0 text-default">
        Marcus Relacion
      </h2>
      <p class="m0 courier text-small mb3">
        Design &amp; Development
      </p>
    </a>
  </div>
  <div class="sm-col sm-col-4">
    <a href="/photos/" class="nav-link m0 text-small text-black primary mr2">
      Photos
    </a>
    <a href="/projects/" class="nav-link m0 text-small text-black primary">
      Projects
    </a>
  </div>
</header>
