<div class="clearfix py4">
  <div class="sm-col sm-col-12 md-col-1 mr3">
    <a href="/"><img src="{{ site.logo-image }}"></a>
  </div>
  <div class="sm-col sm-col-12 md-col-6">
    <a href="/projects/" class="m0 mr2 text-uppercase gray">
      <svg id="i-portfolio" class="m0 mr1 gray" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
        <path d="M29 17 L29 28 3 28 3 17 M2 8 L30 8 30 16 C30 16 24 20 16 20 8 20 2 16 2 16 L2 8 Z M16 22 L16 18 M20 8 C20 8 20 4 16 4 12 4 12 8 12 8" />
      </svg>
      Projects
    </a>
    <a href="/photos/" class="m0 text-uppercase gray">
      <svg id="i-camera" class="m0 mr1 gray" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
        <path d="M2 8 L 9 8 12 4 20 4 23 8 30 8 30 26 2 26 Z" />
        <circle cx="16" cy="16" r="5" />
      </svg>
      Photos
    </a>
  </div>
</div>
