<<<<<<< HEAD
$primary: #9CD7F6;
$primary-dark: #49A5D1;
$primary-light: #CEEEFD;

$secondary: #A6AEF8;
$secondary-dark: #5B67D9;
$secondary-light: #D4D9FF;

$gray-dark: rgba(74,88,96,1);
$gray-light: rgba(250,251,252,1);

$pure-white: rgba(255,255,255,1);
$pure-black: rgba(0,0,0,1);


/* Colors */
.primary { color: $primary; }
.primary-dark { color: $primary-dark; }
.primary-light { color: $primary-light; }

.secondary { color: $secondary; }
.secondary-dark { color: $secondary-dark; }
.secondary-light { color: $secondary-light; }

.gray-dark { color: $gray-dark; }
.gray-light { color: $gray-light; }

.white { color: $pure-white; }
.black { color: $pure-black; }
=======
/*===
Colors
===*/

/* primary: columbia */
$primary-one: rgba(158,216,244,1);
$primary-two: rgba(207,238,252,1);
$primary-three: rgba(115,193,230,1);
$primary-four: rgba( 78,165,207,1);

/* secondary: perano */
$secondary-one: rgba(167,176,246,1);
$secondary-two: rgba(212,217,253,1);
$secondary-three: rgba(128,140,234,1);
$secondary-four: rgba( 92,106,214,1);

/* tertiary: cream brulee */
$tertiary-one: rgba(255,229,160,1);
$tertiary-two: rgba(255,242,207,1);
$tertiary-three: rgba(255,218,121,1);
$tertiary-four: rgba(255,209, 88,1);

/* complementary: caramel */
$complementary-one: rgba(255,211,160,1);
$complementary-two: rgba(255,233,207,1);
$complementary-three: rgba(255,193,121,1);
$complementary-four: rgba(255,177, 88,1);

/* grays */
$gray-dark: rgba(74,88,96,1);
$gray-light: rgba(250,251,252,1);

/* pure */
$pure-white: rgba(255,255,255,1);
$pure-black: rgba(0,0,0,1);

///////////////////////////////////////////////////////////

/* columbia */
.primary-one { color: $primary-one; }
.primary-two { color: $primary-two; }
.primary-three { color: $primary-three; }
.primary-four { color: $primary-four; }
/* perano */
.secondary-one { color: $secondary-one; }
.secondary-two { color: $secondary-two; }
.secondary-three { color: $secondary-three; }
.secondary-four { color: $secondary-four; }
/* cream brulee */
.tertiary-one { color: $tertiary-one; }
.tertiary-two { color: $tertiary-two; }
.tertiary-three { color: $tertiary-three; }
.tertiary-four { color: $tertiary-four; }
/* caramel */
.complementary-one { color: $complementary-one; }
.complementary-two { color: $complementary-two; }
.complementary-three { color: $complementary-three; }
.complementary-four { color: $complementary-four; }
/* grays */
.gray-dark { color: $gray-dark; }
.gray-light { color: $gray-light; }
/* pure */
.pure-white { color: $pure-white; }
.pure-black { color: $pure-black; }

/*===
Background Colors
===*/

/* columbia */
.bg-primary-one { background-color: $primary-one; }
.bg-primary-two { background-color: $primary-two; }
.bg-primary-three { background-color: $primary-three; }
.bg-primary-four { background-color: $primary-four; }

/* perano */
.bg-secondary-one { background-color: $secondary-one; }
.bg-secondary-two { background-color: $secondary-two; }
.bg-secondary-three { background-color: $secondary-three; }
.bg-secondary-four { background-color: $secondary-four; }

/* cream brulee */
.bg-tertiary-one { background-color: $tertiary-one; }
.bg-tertiary-two { background-color: $tertiary-two; }
.bg-tertiary-three { background-color: $tertiary-three; }
.bg-tertiary-four { background-color: $tertiary-four; }

/* caramel */
.bg-complementary-one { background-color: $complementary-one; }
.bg-complementary-two { background-color: $complementary-two; }
.bg-complementary-three { background-color: $complementary-three; }
.bg-complementary-four { background-color: $complementary-four; }

/* grays */
.bg-gray-dark { background-color: $gray-dark; }
.bg-gray-light { background-color: $gray-light; }

/* pure background */
.bg-pure-white { background-color: $pure-white; }
.bg-pure-black { background-color: $pure-black; }
>>>>>>> b7c16f4b97033752cc93b560a3b27f87934e88a7
