/* buttons */
.button {
  padding: 1.5em 2em;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.button-mr-primary {
  background-color: $mr-primary;
  color: $darken-1;
  transition: color 150ms ease-in-out;
}

.button-mr-primary:hover {
  color: $darken-3;
}
