input,
textarea {
  border: solid 5px $grandis;
  border-radius: 2px;
  height: 75px;
  padding: 1em;
  width: 100%;
  color: $grandis !important;
  margin-top: 1em;
  font-family: $inconsolata;
  font-size: $fs-default;
  background-color: transparent;
}


textarea {
  height: 250px;
  max-height: 250px;
  overflow: scroll;
}

label {
  color: $white;
}
