input,
textarea {
  border: solid 2px $mr-primary;
  border-radius: 2px;
  height: 50px;
  padding: 1em;
  width: 100%;
  color: $mr-primary !important;
  margin-top: 1em;
  font-family: $inconsolata;
  background-color: transparent;
}


textarea {
  height: 150px;
  max-height: 250px;
  overflow: scroll;
}

label {
  color: $white;
}
