<!-- photos header -->
<div class="mw7 center cf pa3 pa4-l">
    <div class="fl w-100 w-50-ns">
      <h2 class="lh-title ma0 mb1 f4 f3-ns fw9 noto-serif white db">{{ page.micro-blog-header }}</h2>
      <span class="lh-copy ma0 f5 f4-l fw4 source-sans-pro white-60 db">{{ page.micro-blog-subheader}}</span>
      <a class="btn btn--primary source-sans-pro shadow-1 dib mt4 f5" href="http://www.dailyxroutine.com">View Full Archive</a>
    </div>
  </div>
<script type="text/javascript" src="http://micro.blog/sidebar.js?username=dailyxroutine&count=8"></script>