<section id="contact" class="card--contact br1 overflow-hidden shadow-2 mw7 center cf">
  <!-- contact header -->
  <div class="mw7 center cf pa3 pa4-l slant-left-right" style="background-image: url('https://marcusrelacion.nyc3.digitaloceanspaces.com/branding/hero-contact.jpg'); background-size: cover; background-position: center center">
    <div class="fl w-100 w-50-ns">
      <h2 class="lh-title ma0 mb1 f4 f3-ns fw9 noto-serif white db">Get in Touch</h2>
      <span class="lh-copy ma0 f5 f4-l fw4 source-sans-pro white-60 db">Like what you see? Feel free to reach out regarding your next project and I'll be in touch within 24-48 hours.<span>
    </div>
  </div>  
  <!-- contact form -->
  <div class="mw7 center cf ph3 pb3 ph4-l pb4-l pt6 bg-white fl">
      <div class="fl w-100">
        <form method="post" action="https://api.formbucket.com/f/tpvj0a0" onsubmit="return validateForm()">
          <div class="fl w-100 w-50-ns mb2 pa1 black-80 noto-serif">
            <label class="w-100 ma0 mb2 dib f5 fw7 mr-secondary noto-serif">Name</label>
            <input type="text" name="name" required class="w-100 ma0 pa2 ba bw1 mr-secondary source-sans-pro" />
          </div>
          <div class="fl w-100 w-50-ns mb2 pa1 black-80 noto-serif">
            <label class="w-100 ma0 mb2 dib f5 fw7 mr-secondary noto-serif">Email</label>
            <input type="text" name="email" required class="w-100 ma0 pa2 ba bw1 mr-secondary source-sans-pro" />
          </div>
          <div class="fl w-100 w-50-ns mb2 pa1 black-80 noto-serif">
            <label class="w-100 ma0 mb2 dib f5 fw7 mr-secondary noto-serif">Budget</label>
            <input type="text" name="budget" required class="w-100 ma0 pa2 ba bw1 mr-secondary source-sans-pro" />
          </div>
          <div class="fl w-100 w-50-ns mb2 pa1 black-80 noto-serif">
            <label class="w-100 ma0 mb2 dib f5 fw7 mr-secondary noto-serif">Referrer</label>
            <input type="text" name="referrer" required class="w-100 ma0 pa2 ba bw1 mr-secondary source-sans-pro" />
          </div>
          <div class="fl w-100 mb2 pa1 black-80 noto-serif">
            <label class="w-100 ma0 mb2 dib f5 fw7 mr-secondary noto-serif">Message</label>
            <textarea name="message" required class="w-100 h4 ma0 pa2 ba bw1 mr-secondary source-sans-pro"></textarea>
          </div>
          <div class="fl w-100 pa1 black-80 noto-serif">
            <button class="btn btn--primary source-sans-pro tc center db f5 b--none" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
</section>