<section id="top" class="card--introduction pt6 pb5">
  {% if page.url == "/offline.html" %}
  <div class="mw7 center flex flex-column flex-row-ns pa4-l">
    <div class="w-100 w-50-l flex-auto self-center pa3 pa0-l">
      <h1 class="lh-title ma0 mb2 f3 f2-l fw9 noto-serif white">Yikes 😬</h1>
      <span class="lh-copy ma0 f5 f4-l fw4 source-sans-pro white-60 db">It appears you've lost connection or you're offline :(</span>
      <a class="btn btn--primary source-sans-pro shadow-1 dib mt4 f5 mr3" href="/">Back to Home</a><a class="btn btn--primary source-sans-pro shadow-1 dib mt4 f5" href="https://github.com/marcusrelacion/marcusrelacion.com/issues" target="_blank">Create Github Issue</a>
    </div>
    <div class="w-100 w-50-l flex-auto self-center">
      <figure class="content-card-image ma0 pa0 br1 overflow-hidden pl4-l"><img class="v-mid db w-100" src="https://media.giphy.com/media/l1J3BYdoElZ1HfTX2/giphy.gif" alt="Conceited, a underground freestyle rapper makes a funny face while holding a styrfoam cup"></figure>
    </div>
  </div>
  {% elsif page.url == "/404.html" %}
  <div class="mw7 center flex flex-column flex-row-ns pa4-l">
    <div class="w-100 w-50-l flex-auto self-center pa3 pa0-l">
      <h1 class="lh-title ma0 mb2 f3 f2-l fw9 noto-serif white">Yikes 😬</h1>
      <span class="lh-copy ma0 f5 f4-l fw4 source-sans-pro white-60 db">This page seems to have gone missing.</span>
      <a class="btn btn--primary source-sans-pro shadow-1 dib mt4 f5 mr3" href="/">Back to Home</a><a class="btn btn--primary source-sans-pro shadow-1 dib mt4 f5" href="https://github.com/marcusrelacion/marcusrelacion.com/issues" target="_blank">Create Github Issue</a>
    </div>
    <div class="w-100 w-50-l flex-auto self-center">
      <figure class="content-card-image ma0 pa0 br1 overflow-hidden pl4-l"><img class="v-mid db w-100" src="https://media.giphy.com/media/l0HlvtIPzPdt2usKs/giphy.gif" alt="Conceited, a underground freestyle rapper makes a funny face while holding a styrfoam cup"></figure>
    </div>
  </div>
  {% elsif page.url == "/thank-you/" %}
  <div class="mw7 center flex flex-column flex-row-ns pa4-l">
    <div class="w-100 w-50-l flex-auto self-center pa3 pa0-l">
      <h1 class="lh-title ma0 mb2 f3 f2-l fw9 noto-serif white">Thanks! 👌🏾</h1>
      <span class="lh-copy ma0 f5 f4-l fw4 source-sans-pro white-60 db">You should be receiving confirmation that your message was received. We'll be in touch soon!</span>
      <a class="btn btn--primary source-sans-pro shadow-1 dib mt4 f5" href="/">Back to Home</a>
    </div>
    <div class="w-100 w-50-l flex-auto self-center">
      <figure class="content-card-image ma0 pa0 br1 overflow-hidden pl4-l"><img class="v-mid db w-100" src="https://media.giphy.com/media/Kmvw4jeFNPWEg/giphy.gif" alt="Tracy Jordan and Jack Donaghy from 30 Rock doing a finger pointing handshake"></figure>
    </div>
  </div>
  {% elsif page.layout == "single/projects" %}
  <div class="mw7 center flex flex-column flex-row-ns pa4-l">
    <div class="w-100 w-50-l self-center pa3 pa0-l">
      <h1 class="lh-title ma0 mb2 f3 f2-l fw9 noto-serif white">{{ page.title }}</h1>
      <span class="lh-copy ma0 f5 f4-l fw4 source-sans-pro white-60 db">{{ page.description | markdownify }}</span>
    </div>
    {% if page.image %}
    <div class="w-100 w-50-l flex-auto self-center">
      <figure class="content-card-image ma0 pa0 br1 overflow-hidden pl4-l"><img class="v-mid db w-100" src="{{ page.image }}" alt="{{ page.image-alt }}"></figure>
    </div>
    {% endif %}
  </div>
  {% else %}
  <div class="mw7 center flex flex-column flex-row-ns pa4-l">
    <div class="w-100 w-50-l flex-auto self-center pa3 pa0-l">
      <h1 class="lh-title ma0 mb2 f3 f2-l fw9 noto-serif white">{{ page.introduction-header }}</h1>
      <span class="lh-copy ma0 f5 f4-l fw4 source-sans-pro white-60 db">{{ page.introduction-subheader | markdownify }}</span>
    </div>
    <div class="w-100 w-50-l flex-auto self-center">
      <figure class="content-card-image ma0 pa0 br1 overflow-hidden pl4-l"><img class="v-mid db w-100" src="{{ page.introduction-image }}" alt="{{ page.introduction-image-alt }}"></figure>
    </div>
  </div>
  {% endif %}
</section>