{% if page.url == "/photos/" %}
<section id="top" class="card--photos mt6 mb5 br1 overflow-hidden shadow-2 mw7 center cf">
  {% else %}
  <section id="photos" class="card--photos mb5 br1 overflow-hidden shadow-2 mw7 center cf">
    {% endif %}
    <!-- photos header -->
    <div class="mw7 center cf pa3 pa4-l slant-left-right" style="background-image: url('{{ page.photos-image }}'); background-size: cover; background-position: center center">
      <div class="fl w-100 w-50-ns">
        <h2 class="lh-title ma0 mb1 f4 f3-ns fw9 noto-serif white db">{{ page.photos-header }}</h2>
        <span class="lh-copy ma0 f5 f4-l fw4 source-sans-pro white-60 db">{{ page.photos-subheader}}</span> {% if page.url
        == "/" %}
        <a class="btn btn--primary source-sans-pro shadow-1 dib mt4 f5" href="/photos/">View More Photos</a> {% endif %}
      </div>
    </div>
    <!-- photos content -->
    <div class="mw7 center cf ph3 pb3 ph4-l pb4-l pt6 bg-white">
      <div class="fl w-100">
        <ul class="list ma0 pa0">
          {% if page.url == "/" %} 
            {% assign sorted_photos = site.photos | sort: 'year' | reverse %} 
            {% for posts in sorted_photos | limit: 4 %}
              <li class="content-card fl w-100 w-50-ns mb4 dim pa0 pa2-ns relative">
                {% if posts.coming-soon == true %}
                <a class="content-card-link coming-soon db link" href="/">
                {% else %}
                <a class="content-card-link db link" href="{{ posts.url }}">
                {% endif %}
                  <div class="">
                    <h6 class="content-card-date ma0 mb3 mr2 f6 fw7 source-sans-pro white bg-mr-primary pa1 dib br1">{{ posts.year }}</h6>
                    <p class="content-card-type ma0 f6 fw4 source-sans-pro black-40 dn dib-l">{{ posts.field }}</p>
                    <h2 class="content-card-title ma0 mb1 f5 f4-ns fw9 lh-title mr-secondary noto-serif pr3-l">{{ posts.title }}</h2>
                    <p class="content-card-date ma0 f6 f5-ns fw4 lh-copy black-50 source-sans-pro">{{ posts.description | truncate: 72 }}</p>
                  </div>
                </a>
              </li>
            {% endfor %} 
          {% else %} 
            {% assign sorted_photos = site.photos | sort: 'year' | reverse %} 
            {% for posts in sorted_photos %}
              <li class="content-card fl w-100 w-50-ns mb4 dim pa0 pa2-ns relative">
                {% if posts.coming-soon == true %}
                <a class="content-card-link coming-soon db link" href="/">
                {% else %}
                <a class="content-card-link db link" href="{{ posts.url }}">
                {% endif %}
                  <div class="">
                    <h6 class="content-card-date ma0 mb3 mr2 f6 fw7 source-sans-pro white bg-mr-primary pa1 dib br1">{{ posts.year }}</h6>
                    <p class="content-card-type ma0 f6 fw4 source-sans-pro black-40 dn dib-l">{{ posts.field }}</p>
                    <h2 class="content-card-title ma0 mb1 f5 f4-ns fw9 lh-title mr-secondary noto-serif pr3-l">{{ posts.title }}</h2>
                    <p class="content-card-date ma0 f6 f5-ns fw4 lh-copy black-50 source-sans-pro">{{ posts.description | truncate: 72 }}</p>
                  </div>
                </a>
              </li>
            {% endfor %} 
          {% endif %}
        </ul>
      </div>
    </div>
  </section>