<section class="card--project-content br1 overflow-hidden shadow-2 mw7 center cf">
  <!-- contact header -->
  <div class="mw7 center cf pa3 pa4-l slant-right-left bg-mr-primary">
    <div class="fl w-100">
      {% include components/project-sidebar.html %}
    </div>
  </div>
  <!-- contact form -->
  <div class="mw7 center cf ph3 pb3 ph4-l pb4-l pt6 bg-white">
    <div class="fl w-100 pa3">
      <span class="ma0 source-sans-pro black-80 lh-copy">{{ content | markdownify }}</span>
    </div>
  </div>
</section>