<section class="py4">
  <div class="container clearfix p3 bg-grandis">
    <div class="container clearfix px3">
      <h2 class="m0 fs-default fw-black darken-3 text-uppercase ta-center">
        Archives:
      </h2>
    </div>
    {% if page.url == "/projects/" %}
      <ul class="">
      {% assign sorted_projects = site.projects | sort: 'project-year' | reverse %}
      {% for posts in sorted_projects %}
        <div class="sm-col sm-col-12 md-col-6">
        <a href="{{posts.url}}" class="archive-link text-small block td-none white">
          <li class="block text-black py1 inconsolata">
            <span class="inconsolata fs-default white">{{ posts.year }}</span> | <span class="merriweather fw-black white fs-default">{{posts.title}}</span>
          </li>
          <li class="block merriweather fw-black">

          </li>
        </a>
        </div>
      {% endfor %}
      {% elsif page.url == "/photos/" %}
        {% assign sorted_photos = site.photos | sort: 'photoset-year' | reverse %}
        {% for posts in sorted_photos %}
          <a href="{{posts.url}}" class="archive-link primary text-small">
            <li class="block text-black py1">
              {{ posts.photoset-year }} <span class="courier"> | {{posts.title}}</span>
            </li>
          </a>
        {% endfor %}
        </ul>
      {% endif %}
  </div>
</section>
