<section class="archives py4 bg-darken-5">
  <div class="clearfix p3 container">
    <h2 class="m0 mb2 fs-default fw-black white ta-center merriweather">
      Archives
    </h2>

    {% if page.url == "/projects/" %}
      <ul class="">
        {% assign sorted_projects = site.projects | sort: 'project-year' | reverse %}
        {% for posts in sorted_projects %}
          <div class="sm-col sm-col-12 md-col-6">
            <a href="{{posts.url}}" class="archive-link text-small block td-none">
              <li class="block text-black py1 inconsolata">
                <span class="inconsolata fs-default">{{ posts.year }}</span> | <span class="merriweather fw-black fs-default">{{posts.title}}</span>
              </li>
            </a>
          </div>
        {% endfor %}
        {% elsif page.url == "/photos/" %}
        {% assign sorted_photos = site.photos | sort: 'photoset-year' | reverse %}
        {% for posts in sorted_photos %}
          <div class="sm-col sm-col-12 md-col-6">
            <a href="{{posts.url}}" class="archive-link text-small block td-none">
              <li class="block text-black py1 inconsolata">
                <span class="inconsolata fs-default">
                  {{ posts.year }}
                </span> |
                <span class="merriweather fw-black fs-default">
                  {{posts.title}}
                </span>
              </li>
            </a>
          </div>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</section>
