{% if page.url == '/' %}
  <section class="debug center content-projects bg-mr-primary pa4">
    <div class="w-100 w-75-l center pa4 cf">
      <span class="content-header">
        <h2 class="ma0 mb4 tl f6 fw9 tracked ttu darken-3 inconsolata">
          Latest Projects
        </h2>
      </span>
      {% assign sorted_projects = site.projects | sort: 'date' | reverse  %}
      {% for posts in sorted_projects limit:4 %}
      <ul class="content-list w-100 w-50-m w-50-l fl">
        <a href="{{ posts.url }}" class="content-link link">
          <li class="content-card pv3 pa3-ns pa3-m">
            <div class="content-details">
              <h6 class="content-year ma0 f6 fw1 inconsolata darken-3 pb2">
                {{ posts.year }}
              </h6>
              <h2 class="content-title ma0 f5 fw9 noto-serif darken-2 pb2">
                {{ posts.title }}
              </h2>
              <p class="content-excerpt ma0 f6 fw1 inconsolata darken-2">
                {{ posts.excerpt}}
              </p>
            </div>
          </li>
        </a>
      </ul>
      {% endfor %}
    </div>
  </section>

  {% assign sorted_photos = site.photos | sort: 'date' | reverse  %}
  {% for posts in sorted_photos limit:2 %}
    <section class="content-projects br1 bg-mr-secondary relative pv5 fl w-50 w-50-l" style="background: url('{{ posts.image}}') no-repeat center center; background-size: cover;">
      <div class="w-100 w-75-l center pa4 cf">
        <ul class="content-list relative" style="z-index: 5;">
          <a href="{{ posts.url }}" class="content-link link">
            <li class="content-card pv3 pa2 relative">
              <span>
                <svg id="i-location" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
              <circle cx="16" cy="11" r="4" />
              <path d="M24 15 C21 22 16 30 16 30 16 30 11 22 8 15 5 8 10 2 16 2 22 2 27 8 24 15 Z" />
          </svg>
                <h6 class="dib f6 inconsolata">{{ posts.location }}</h6>
              </span>
              <h6 class="content-year ma0 f6 fw1 inconsolata white pb2">
                {{ posts.year }}
              </h6>
              <h2 class="content-title ma0 f5 fw9 noto-serif white pb2">
                {{ posts.title }}
              </h2>
              <p class="content-excerpt ma0 f6 fw1 inconsolata white">
                {{ posts.excerpt}}
              </p>
            </li>
          </a>
        </ul>
        <div class="overlay absolute top-0 bottom-0 right-0 left-0" style="background-color: RGBA(33, 37, 41, .75)"></div>
      </div>
    </section>
  {% endfor %}

{% elsif page.url == '/projects/' %}

  <section class="center content-projects bg-mr-primary">
    <div class="cf pa4">
      <span class="content-header">
        <h2 class="ma0 mb2 tc f6 fw9 tracked ttu darken-3 inconsolata">
          Latest Projects
        </h2>
      </span>
      {% assign sorted_projects = site.projects | sort: 'date' | reverse  %}
      {% for posts in sorted_projects limit:4 %}
      <ul class="content-list fl w-100 w-25-l">
        <a href="{{ posts.url }}" class="content-link link">
          <li class="content-card pa2">
            <div class="content-details">
              <img class="br1 mb3" src="{{ posts.image }}">
              <h6 class="content-year ma0 f6 fw1 inconsolata darken-3 pb2">
                {{ posts.year }}
              </h6>
              <h2 class="content-title ma0 f5 fw9 noto-serif darken-2 pb2">
                {{ posts.title }}
              </h2>
              <p class="content-excerpt ma0 f6 fw1 inconsolata darken-2">
                {{ posts.excerpt}}
              </p>
            </div>
          </li>
        </a>
      </ul>
      {% endfor %}
    </div>
  </section>

{% elsif page.url == "/photos/" %}

  {% assign sorted_photos = site.photos | sort: 'date' | reverse  %}
  {% for posts in sorted_photos %}
    <section class="content-projects br1 bg-mr-secondary ma4 relative" style="background: url('{{ posts.image}}') no-repeat center center; background-size: cover;">
      <div class="w-100 w-75-l center pa4 cf">
        <ul class="content-list relative" style="z-index: 5;">
          <a href="{{ posts.url }}" class="content-link link">
            <li class="content-card pv3 pa2">
              <div class="content-details measure-narrow">
                <h6 class="content-year ma0 f6 fw1 inconsolata white pb2">
                  {{ posts.year }}
                </h6>
                <h2 class="content-title ma0 f5 fw9 noto-serif white pb2">
                  {{ posts.title }}
                </h2>
                <p class="content-excerpt ma0 f6 fw1 inconsolata white">
                  {{ posts.excerpt}}
                </p>
              </div>
            </li>
          </a>
        </ul>
        <div class="overlay absolute top-0 bottom-0 right-0 left-0" style="background-color: RGBA(33, 37, 41, .75)"></div>
      </div>
    </section>
  {% endfor %}

{% elsif page.url == "/contact/" %}

  {% include partials/contact.html %}

{% elsif page.url == "/contact/thank-you" %}

  {% include partials/contact-thank-you.html %}

{% endif %}
