<!---
<div class="clearfix p4 center">
  <div class="sub-title-block">
    <h2 class="m0 text-small text-uppercase primary-light">
      Interested in working together?
    </h2>
    <p class="m0 mb3 text-default text-light pure-white">
      Feel free to contact me by email or reach out on twitter:
    </p>
    <button class="white-button m0 mr1 text-small text-semibold inline-block">
      Email
    </button>
    <button onclick="location.href='https://twitter.com/marcusrelacion'" class="white-button m0 text-small text-semibold inline-block">
      Tweet
    </button>
  </div>
</div>
--->

<form class="border-secondary p3 rounded" action="https://api.formbucket.com/f/tpvj0a0" method="post">
  <input type="hidden" name="utf8" value="✓">
    <div class="sm-col sm-col-12 md-col-6 p1">
      <label>
        Name:
        <input class="block" type="text" placeholder="Your Name" name="name">
      </label>
    </div>

    <div class="sm-col sm-col-12 md-col-6 p1">
      <label>
        Company:
        <input class="block" type="text" placeholder="Your Company/Organization" name="company">
      </label>
    </div>

    <div class="sm-col sm-col-12 md-col-6 p1">
      <label>
        Your e-mail:
        <input class="block" type="email" placeholder="you@company.com" name="mail">
      </label>
    </div>

    <div class="sm-col sm-col-12 md-col-6 p1">
      <label>
        Your website:
        <input class="block" type="text" placeholder="http://www.yourwebsite.com" name="website">
      </label>
    </div>

    <div class="sm-col sm-col-12 p1">
      <label>
        Tell me about yourself:
        <textarea class="block" type="text" placeholder="Introduce yourself. (Job, Title, Favorite song)" name="bio" minlength="14" maxlength="600"></textarea>
      </label>
    </div>

    <div class="sm-col sm-col-12 p1">
      <label>
        What can I help you with:
        <textarea class="block" type="text" placeholder="What is the goal of this project?" name="bio" minlength="14" maxlength="600"></textarea>
      </label>
    </div>

    <div class="sm-col sm-col-6 p1">
      <label>
        Ideal start date:
        <input class="block" type="text" placeholder="2 weeks from now?" name="start-date">
      </label>
    </div>

    <div class="sm-col sm-col-6 p1 mb3">
      <label>
        Referral:
        <input class="block" type="text" placeholder="How did you find me?" name="referral">
      </label>
    </div>

        <div class="p1">
          <button class="white-button m0
          text-small text-semibold block" style="width: 100%;" type="submit">Submit</button>
        </div>
</form>
