<div class="clearfix p4 center">
  <div class="sub-title-block">
    <h2 class="m0 text-small text-uppercase pure-white">
      Interested in working together?
    </h2>
    <p class="m0 mb3 text-small pure-white">
      Feel free to contact me by email or through twitter:
    </p>
    <button class="white-button m0 mr1 text-x-small text-semibold inline-block">
      Email
    </button>
    <button onclick="location.href='https://twitter.com/marcusrelacion'" class="white-button m0 text-x-small text-semibold inline-block">
      Tweet
    </button>
  </div>
</div>
