{% if page.url == '/' %}
  <section class="content-block bg-mr-primary ma4 br1">
    <div class="cf pa4">
      <h2 class="ma0 mb2 tc f6 fw9 tracked ttu darken-3 inconsolata">
        Latest Projects
      </h2>

      {% assign sorted_projects = site.projects | sort: 'date' | reverse  %}
      {% for posts in sorted_projects limit:2 %}
      <ul class="content-list fl w-100 w-100-m w-50-l">
        <a href="{{ posts.url }}" class="content-link link">
          <li class="content-card pa2">
            <div class="content-details">
              <img class="br1 mb3" src="{{ posts.image }}">
              <h6 class="content-year ma0 f6 fw1 inconsolata darken-3 pb2">
                {{ posts.year }}
              </h6>
              <h2 class="content-title ma0 f5 fw9 noto-serif darken-2 pb2">
                {{ posts.title }}
              </h2>
              <p class="content-excerpt ma0 f6 fw1 inconsolata darken-2">
                {{ posts.excerpt}}
              </p>
            </div>
          </li>
        </a>
      </ul>
      {% endfor %}
    </div>
    <a class="link mb4 br1 cf" href="/projects/">
      <div class="bg-darken-3 pa3 tc">
        <h6 class="f6 fw9 cf lighten-1 inconsolata">
          Check out more projects I've been a part of, 👉🏽
        </h6>
      </div>
    </a>
  </section>

    <section class="content-block bg-mr-secondary ma4 br1">
      <div class="cf pa4">
        <h2 class="ma0 mb2 tc f6 fw9 tracked ttu darken-3 inconsolata">
          Latest Projects
        </h2>

        {% assign sorted_photos = site.photos | sort: 'date' | reverse  %}
        {% for posts in sorted_photos limit:2 %}
        <ul class="content-list fl w-100 w-100-m w-50-l">
          <a href="{{ posts.url }}" class="content-link link">
            <li class="content-card pa2">
              <div class="content-details">
                <img class="br1 mb3" src="{{ posts.image }}">
                <h6 class="content-year ma0 f6 fw1 inconsolata darken-3 pb2">
                  {{ posts.year }}
                </h6>
                <h2 class="content-title ma0 f5 fw9 noto-serif darken-2 pb2">
                  {{ posts.title }}
                </h2>
                <p class="content-excerpt ma0 f6 fw1 inconsolata darken-2">
                  {{ posts.excerpt}}
                </p>
              </div>
            </li>
          </a>
        </ul>
        {% endfor %}
      </div>
      <a class="link mb4 br1 cf" href="/photos/">
        <div class="bg-darken-3 pa3 tc">
          <h6 class="f6 fw9 cf lighten-1 inconsolata">
            Check out more of my photos, 📸
          </h6>
        </div>
      </a>
    </section>




  {% assign sorted_photos = site.photos | sort: 'date' | reverse  %}
  {% for posts in sorted_photos limit:1 %}
    <section class="content-projects br1 bg-mr-secondary relative pv5 w-50 w-50-l fl pa4 cf" style="background: url('{{ posts.image}}') no-repeat center center; background-size: cover;">
      <ul class="content-list relative cf" style="z-index: 5;">
        <a href="{{ posts.url }}" class="content-link link">
          <li class="content-card relative">
            <h2 class="content-title ma0 f4 fw9 noto-serif white">
              {{ posts.title }}
            </h2>
          </li>
        </a>
      </ul>
      <div class="overlay absolute top-0 bottom-0 right-0 left-0" style="background-color: RGBA(33, 37, 41, .75)"></div>
    </section>
  {% endfor %}

{% elsif page.url == '/projects/' %}

  <section class="center content-projects bg-mr-primary">
    <div class="cf pa4">
      <span class="content-header">
        <h2 class="ma0 mb2 tc f6 fw9 tracked ttu darken-3 inconsolata">
          Latest Projects
        </h2>
      </span>
      {% assign sorted_projects = site.projects | sort: 'date' | reverse  %}
      {% for posts in sorted_projects limit:4 %}
      <ul class="content-list fl w-100 w-25-l">
        <a href="{{ posts.url }}" class="content-link link">
          <li class="content-card pa2">
            <div class="content-details">
              <img class="br1 mb3" src="{{ posts.image }}">
              <h6 class="content-year ma0 f6 fw1 inconsolata darken-3 pb2">
                {{ posts.year }}
              </h6>
              <h2 class="content-title ma0 f5 fw9 noto-serif darken-2 pb2">
                {{ posts.title }}
              </h2>
              <p class="content-excerpt ma0 f6 fw1 inconsolata darken-2">
                {{ posts.excerpt}}
              </p>
            </div>
          </li>
        </a>
      </ul>
      {% endfor %}
    </div>
  </section>

{% elsif page.url == "/photos/" %}

  {% assign sorted_photos = site.photos | sort: 'date' | reverse  %}
  {% for posts in sorted_photos %}
    <section class="content-projects br1 bg-mr-secondary ma4 relative" style="background: url('{{ posts.image}}') no-repeat center center; background-size: cover;">
      <div class="w-100 w-75-l center pa4 cf">
        <ul class="content-list relative" style="z-index: 5;">
          <a href="{{ posts.url }}" class="content-link link">
            <li class="content-card pv3 pa2">
              <div class="content-details measure-narrow">
                <h6 class="content-year ma0 f6 fw1 inconsolata white pb2">
                  {{ posts.year }}
                </h6>
                <h2 class="content-title ma0 f5 fw9 noto-serif white pb2">
                  {{ posts.title }}
                </h2>
                <p class="content-excerpt ma0 f6 fw1 inconsolata white">
                  {{ posts.excerpt}}
                </p>
              </div>
            </li>
          </a>
        </ul>
        <div class="overlay absolute top-0 bottom-0 right-0 left-0" style="background-color: RGBA(33, 37, 41, .75)"></div>
      </div>
    </section>
  {% endfor %}

{% elsif page.url == "/contact/" %}

  {% include partials/contact.html %}

{% elsif page.url == "/contact/thank-you" %}

  {% include partials/contact-thank-you.html %}

{% endif %}
