<div class="clearfix border-highlight rounded p3">
  <div class="sm-col sm-col-12 center">
    <div class="sub-title-block p1">
      <h2 class="m0 text-small text-uppercase pure-white">
        Interested in working together?
      </h2>
      <p class="m0 mb3 text-small pure-white">
        Get in touch
      </p>
      <button onclick="location.href='/contact/'" class="white-button m0 text-small text-semibold inline-block">
        Tweet
      </button>
    </div>
  </div>
</div>

<div class="sm-col sm-col-12 clearfix border-secondary rounded p3">
  <div class="sub-title-block">
    <h2 class="m0 text-small text-uppercase pure-white">
      Interested in working together?
    </h2>
  </div>
</div>
