<footer class="fl w-100 pa4">
  <div class="mb4-l cf">
    <h1 class="fl w-100 pv0 f6 fw6 ttu mb4">
      Marcus Relacion
    </h1>
    <article class="fl w-50 dib-ns w-auto-ns mb4 pl2 pl0-ns">
      <h4 class="f5 f4-l fw6">Tokyo</h4>
      <span class="f7 f6-l db black-70">1982 Flangan Rd.</span>
      <span class="f7 f6-l">Shinjuku, Tokyo</span>
      <a href="tel:+444444444444" class="f6 db dim fw6 pv3 link black-70" title="Call Tokyo Office">
        +99 5555-5555
      </a>
    </article>
  </div>
  <div class="dt dt--fixed w-100" >
    <div class="dn dtc-ns v-mid">
      <p class="f7 black-70 dib pr3 mb3">
        Copyright © 2016 Macus Relacion
      </p>
    </div>
  </div>
</footer>
