<header class="">
  <nav class="dt w-100 border-box pa3">
    <a class="dtc v-mid mid-gray link dim w-25 fw9 noto-serif f4" href="#" title="Home">
      Marcus Relacion
    </a>
    <div class="dtc v-mid w-75 tr">
      <a class="link dim white dib f5 inconsolata mr2" href="/projects/" title="About">
        Projects
      </a>
      <a class="link dim white dib f5 inconsolata mr2" href="/photos/" title="Store">
        Photos
      </a>
      <a class="link dim white dib f5 inconsolata mr2" href="/contact/" title="Contact">
        Contact
      </a>
      {% include partials/maintenance.html %}
    </div>
  </nav>
</header>

<header class=" br1" style="background: url('{{ page.image}}') no-repeat center center; background-size: cover;">
    <section class="ph4 pv5">
      <div class="cf">
        <div class="introduction white measure-narrow inconsolata">
          {{ page.content | markdownify }}
        </div>
      </div>
    </section>
</header>
