<header class="ma4">
  {% include partials/maintenance.html %}
  <div class="fl w-100 w-25-ns">
    <a class="link dib darken-3" href="/">
      <h1 class="ma0 f4 fw9 noto-serif">
        Marcus Relacion
      </h1>
      <p class="ma0 f6 fw3 inconsolata">
        Design &amp; Development
      </p>
    </a>
  </div>
  <nav class="fl w-100 w-25-ns f6 fw3 serif inconsolata ttu">
    <a class="link dib mr2 darken-3" href="/projects/" title="Projects">
      Projects
    </a>
    <a class="link dib mr2 darken-3" href="/photos/" title="Photos">
      Photos
    </a>
    <a class="link dib mr2 darken-3" href="/contact/" title="Contact">
      Contact
    </a>
  </nav>
</header>

<section class="pa4 mt3">
  <div class="cf">
    <div class="introduction fl w-50-ns w-50-m measure-narrow darken-2">
      {{ page.content | markdownify }}
    </div>
    <div class="fl w-50-ns w-50-m center">
      <img class="rounded" src="{{ page.image }}">
    </div>
  </div>
</section>
