<section class="">
  <div class="container clearfix p3">
  <div class="py3">
    <h2 class="m0 text-default text-black gray">
      {{ page.latest-projects-section-title }}
    </h2>
    <p class="m0 text-small text-light gray">
      For more, please visit the project <a href="/projects">archives</a>.
    </p>
  </div>
  <!--
  More info coming soon.
  -->
  {% assign sorted_projects = site.projects | sort: 'date') | reverse %}
  {% for posts in sorted_projects limit:4 %}
      <div class="sm-col sm-col-12 md-col-6">
      {% if posts.is-featured == true %}
        <div class="project-header-image bg-cover bg-center bg-primary p3" style="background-image: url('{{ posts.project-header-image }}')">
          <div class="project-detail-block py1 relative">
            <small class="m0 pure-white">
              {{ posts.project-year }}
            </small>
            <a class="project-link primary-light" href="{{ posts.url }}">
              <h2 class="m0 mb4 text-default">
                {{ posts.title }}
              </h2>
            </a>
            <button onclick="location.href='{{ posts.url }}'" class="secondary-button text-x-small text-black inline-block absolute" style="bottom: 0; left: 0; right: 0;">
              View Project
              <svg id="i-arrow-right" class="ml1 relative" style="top: 3px; right: -5px;" viewBox="0 0 32 32" width="15" height="15" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="10.9375%">
                <path d="M22 6 L30 16 22 26 M30 16 L2 16" />
              </svg>
            </button>
          </div>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
</section>
