<div class="py3">
  <h2 class="m0 text-default text-black primary-light">
    {{ page.latest-photoset-section-title }}
  </h2>
  <p class="m0 text-small text-light primary-light">
    For more, please visit the photo <a href="#">archives</a>.
  </p>
</div>

<div class="clearfix">
  <!--
  More info coming soon.
  -->
  {% assign sorted_photos = site.photos | sort: 'date') | reverse %}
  {% for posts in sorted_photos limit:1 %}
  <div class="sm-col sm-col-12 rounded border-secondary">
    <div class="bg-cover bg-center bg-primary" style="background-image: url('{{ posts.photoset-header-image }}')">
      <div class="clearfix p3">
        <div class="photoset-detail-block ">
          <small class="m0 text-x-small primary-light  text-semibold">
            {{ posts.photoset-year }} | {{ posts.photoset-location }}
          </small>
          <a class="project-link primary-light " href="{{ posts.url }}">
            <h2 class="m0 text-medium">
              {{ posts.title }}
            </h2>
          </a>
          <p class="m0 text-small primary-light  py3">
            {{ posts.photoset-excerpt-text }}
          </p>
          <button onclick="location.href='{{ posts.url }}'" class="secondary-button text-x-small text-black inline-block relative">
            View Photoset
            <svg id="i-arrow-right" class="ml1 relative" style="top: 3px; right: -5px;" viewBox="0 0 32 32" width="15" height="15" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="10.9375%">
              <path d="M22 6 L30 16 22 26 M30 16 L2 16" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
