{% comment %}
Status bar for updating visitors on the maintenance status of the site.
Only appears during site revisions.

/* would like to add the ability to dismiss the message? */
{% endcomment %}

{% if site.is-updating == true %}
  <a class="db link" href="{{ site.update-link }}" target="_blank">
    <div class="bg-warning pa2 tc">
      <h6 class="f6 fw9 cf darken-2 inconsolata">
        {{ site.update-message }}
      </h6>
    </div>
  </a>
{% else %}
  {% comment %}
    display nothing if site.is-updating == false
  {% endcomment %}
{% endif %}
