<header>
  <div class="container clearfix">
    <div class="sm-col sm-col-12">
      <a class="logotype inline-block" href="/">
        <h2 class="m0 grandis fs-medium fw-black">
          Marcus Relacion
        </h2>
        <p class="courier m0 grandis fs-default">
          Design &amp; Development
        </p>
      </a>
    </div>
    <div class="sm-col sm-col-12 mt2">
      <a href="/projects/" class="link m0 fs-default mr2 white fw-black merriweather">
        Projects
      </a>
      <a href="/photos/" class="link m0 fs-default mr2 white fw-black merriweather">
        Photos
      </a>
      <a href="/contact/" class="link m0 fs-default mr2 white fw-black merriweather">
        Contact
      </a>
    </div>
  </div>
</header>
