<div class="container clearfix p3">
  <div class="sm-col sm-col-12 center">
    <div class="sub-title-block p1">
      <h2 class="m0 text-small text-uppercase pure-white">
        Interested in working together?
      </h2>
      <p class="m0 mb3 text-small pure-white">
        Feel free to contact me by email or through twitter:
      </p>
      <button onclick="location.href='https://twitter.com/marcusrelacion'" class="white-button m0 text-small text-semibold inline-block">
        Tweet
      </button>
    </div>
  </div>
</div>
