<div class="photos-information mt4 br2">
    <div class="mw7 center">
      <div class="flex flex-wrap flex-column flex-row-l tc">
        <div class="flex-auto db ma0">
          <span class="noto-serif ma0 mb2 f5 fw9 db white">{{ page.client-header }}</span>
          <span class="source-sans-pro ma0 f6 db white">{{ page.client }}</span>
        </div>
        <div class="flex-auto db ma0">
          <span class="noto-serif ma0 mb2 f5 fw9 db white">{{ page.year-header }}</span>
          <span class="source-sans-pro ma0 f6 db white">{{ page.year }}</span>
        </div>
        <div class="flex-auto db ma0">
          <span class="noto-serif ma0 mb2 f5 fw9 db white">{{ page.type-header }}</span>
          <span class="source-sans-pro ma0 f6 db white">{{ page.type }}</span>
        </div>
        <div class="flex-auto db ma0">
          <span class="noto-serif ma0 mb2 f5 fw9 db white">{{ page.collaborators-header }}</span>
          <span class="source-sans-pro ma0 f6 db white">{{ page.collaborators }}</span>
        </div>
      </div>
    </div>
  </div>