<footer role="banner" class="pv6">
  <div class="mw7 center cf pa3">
    <nav class="flex flex-column flex-row-l">
      <div class="w-100 w-50-l flex-auto self-start">
        <p class="db ma0 mb2 f6 fw9 noto-serif white">{{ site.copyright }}</p>
        <p class="db ma0 link dim white-50 f6 fw4 source-sans-pro">Built proudly in Washington, DC.</p>
      </div>
      {% if site.data.navigation.fun-nav %}
      <div class=" fl w-100 pa1 mb3">
        <span class="db ma0 mb2 f6 fw9 noto-serif white">
          Fun
        </span>
        <ul class="pl0 ma0 mb2">
          {% for link in site.data.navigation.fun-nav %}
            <li class="dib mb2">
              <a href="{{ site.url }}{{ link.url }}" class="link dim white-50 f6 fw4 source-sans-pro">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="w-100 w-50-l flex-auto self-start">
        <span class="db ma0 mb2 f6 fw9 noto-serif white">
          Social
        </span>
        <ul class="pl0 ma0">
          {% for link in site.data.navigation.social-nav %}
            <li class="dib mb2">
              <a rel="me" href="{{ site.url }}{{ link.url }}" class="link dim white-50 f6 fw4 source-sans-pro" target="_blank">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
    <a data-scroll href="#top" class="link dim white-50 f6 fw4 source-sans-pro tc db mt6">Back to Top</a>
  </div>
</footer>