<header role="banner" class="header--fixed fixed pv2 ph3 top-0 left-0 right-0 bg-mr-secondary">
	<nav class="flex flex-column flex-row-l" role="navigation">
		<a class="mb2 mb0-l pv2 ph3-l self-center link dim tc tl-l" href="/" title="Home">
			<span class="db ma0 f5 f4-ns fw9 noto-serif white">Marcus Relacion</span>
			<span class="db ma0 f6 fw4 source-sans-pro white-60">Designer & Developer</span>
		</a>
		<div class="flex-auto self-center tr">
			<ul class="pl0 ma0">
				{% if page.url == "/projects/" %}
					<li class="dib mb2">
						<a href="/" class="dib ma0 ml2 mr3-l pa2 pa3-l link dim white-60 f6 f5-l fw4 source-sans-pro">Back to Home</a>
					</li>
					<li class="dib mb2">
						<a data-scroll href="#contact" class="dib ma0 ml2 mr3-l pa2 pa3-l link dim white-60 f6 f5-l fw4 source-sans-pro">Contact</a>
					</li>
				{% elsif page.layout == "single/projects" %}
					<li class="dib mb2">
						<a href="/projects/" class="dib ma0 ml2 mr3-l pa2 pa3-l link dim white-60 f6 f5-l fw4 source-sans-pro">Back to Projects</a>
					</li>
					<li class="dib mb2">
						<a data-scroll href="#contact" class="dib ma0 ml2 mr3-l pa2 pa3-l link dim white-60 f6 f5-l fw4 source-sans-pro">Contact</a>
					</li>
				{% elsif page.url == "/photos/" %}
					<li class="dib mb2">
						<a href="/" class="dib ma0 ml2 mr3-l pa2 pa3-l link dim white-60 f6 f5-l fw4 source-sans-pro">Back to Home</a>
					</li>
					<li class="dib mb2">
						<a data-scroll href="#contact" class="dib ma0 ml2 mr3-l pa2 pa3-l link dim white-60 f6 f5-l fw4 source-sans-pro">Contact</a>
					</li>
				{% elsif page.layout == "single/photos" %}
					<li class="dib mb2">
						<a href="/photos/" class="dib ma0 ml2 mr3-l pa2 pa3-l link dim white-60 f6 f5-l fw4 source-sans-pro">Back to Photos</a>
					</li>
					<li class="dib mb2">
						<a data-scroll href="#contact" class="dib ma0 ml2 mr3-l pa2 pa3-l link dim white-60 f6 f5-l fw4 source-sans-pro">Contact</a>
					</li>
				{% elsif page.url == "/thank-you/" or page.url == "/404.html" or page.url == "/offline.html" %}
					<li class="dib mb2">
						<a href="/" class="dib ma0 ml2 mr3-l pa2 pa3-l link dim white-60 f6 f5-l fw4 source-sans-pro">Back to Home</a>
					</li>
				{% else %}
					<li class="dib mb2">
						<a data-scroll href="#projects" class="dib ma0 ml2 mr3-l pa2 pa3-l link dim white-60 f6 f5-l fw4 source-sans-pro">Projects</a>
					</li>
					<li class="dib mb2">
						<a data-scroll href="#photos" class="dib ma0 ml2 mr3-l pa2 pa3-l link dim white-60 f6 f5-l fw4 source-sans-pro">Photos</a>
					</li>
					<li class="dib mb2">
						<a data-scroll href="#about" class="dib ma0 ml2 mr3-l pa2 pa3-l link dim white-60 f6 f5-l fw4 source-sans-pro">About</a>
					</li>
					<li class="dib mb2">
						<a data-scroll href="#contact" class="dib ma0 ml2 mr3-l pa2 pa3-l link dim white-60 f6 f5-l fw4 source-sans-pro">Contact</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</nav>
</header>